body {
  background-color: white;
}

.box {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  background-color: pink;
  text-align: center;
  margin-top: 300px;
  left: 30px;
}

.fa-solid {
  color: hotpink;
  font-size: 30px;
  text-align: center;
}

.navbar {
  background-color: pink;
  padding: 12px 6px;
}

.navlinks {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}